<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>STTF</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>sttfmobile</string>
          <string>sa.gov.sttf.mobile</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <false/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>Take photos of your meals to confirm them with your nutritionist and keep track of your eating habits.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your microphone</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>The app uses your photo library access to allow you to choose a profile picture and to save or select photos of your meals for meal tracking and sharing with your nutritionist.</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
    </array>
    <key>RCTNewArchEnabled</key>
    <true/>
    <key>UIAppFonts</key>
    <array>
      <string>Effra_Trial_Hair.ttf</string>
      <string>Effra_Trial_HairIt.ttf</string>
      <string>Effra_Trial_Th.ttf</string>
      <string>Effra_Trial_ThIt.ttf</string>
      <string>Effra_Trial_Lt.ttf</string>
      <string>Effra_Trial_LtIt.ttf</string>
      <string>Effra_Trial_Rg.ttf</string>
      <string>Effra_Trial_It.ttf</string>
      <string>Effra_Trial_Md.ttf</string>
      <string>Effra_Trial_MdIt.ttf</string>
      <string>Effra_Trial_SBd.ttf</string>
      <string>Effra_Trial_SBdIt.ttf</string>
      <string>Effra_Trial_Bd.ttf</string>
      <string>Effra_Trial_BdIt.ttf</string>
      <string>Effra_Trial_XBd.ttf</string>
      <string>Effra_Trial_XBdIt.ttf</string>
      <string>Effra_Trial_Blk.ttf</string>
      <string>Effra_Trial_BlkIt.ttf</string>
      <string>EffraVF_Trial_Wght.ttf</string>
      <string>EffraVF_Trial_WghtItal.ttf</string>
      <string>Inter_18pt-Regular.ttf</string>
      <string>Inter_18pt-Italic.ttf</string>
      <string>Inter_18pt-Thin.ttf</string>
      <string>Inter_18pt-ThinItalic.ttf</string>
      <string>Inter_18pt-ExtraLight.ttf</string>
      <string>Inter_18pt-ExtraLightItalic.ttf</string>
      <string>Inter_18pt-Light.ttf</string>
      <string>Inter_18pt-LightItalic.ttf</string>
      <string>Inter_18pt-Medium.ttf</string>
      <string>Inter_18pt-MediumItalic.ttf</string>
      <string>Inter_18pt-SemiBold.ttf</string>
      <string>Inter_18pt-SemiBoldItalic.ttf</string>
      <string>Inter_18pt-Bold.ttf</string>
      <string>Inter_18pt-BoldItalic.ttf</string>
      <string>Inter_18pt-ExtraBold.ttf</string>
      <string>Inter_18pt-ExtraBoldItalic.ttf</string>
      <string>Inter_18pt-Black.ttf</string>
      <string>Inter_18pt-BlackItalic.ttf</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Automatic</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>